*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Add numbers to pagination buttons by CSS */
body{
    background-color: rgb(241, 210, 169)
}

  
  .splide__slide img {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    object-fit: cover;
    padding: 10px;
  }

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #000000
}

.registration-form {
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    padding: 20px;
    font-size: 12px;
    font-weight: 600;

  }
 

  